.header {
    margin-top: 50px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   width: 100%;
   background-image: url(../img/background.jpg);
   background-size: 100% auto;
   background-position: center;
   background-repeat: no-repeat;
   background-blend-mode: darken;
   background-color: rgba(0, 0, 0, 0.3);
}

.header-left__list {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: flex-end;
}
.header-left__item {
    color: #fff;

}
.header-left__item ~ .header-left__item {
    margin-left: 20px;
    margin-bottom: 6px;
}
.header-left__item p {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.header-left__item span {
    font-size: 10px;
    
}
.header-left__item--active span{
    font-size: 38px;   
}
.header-left__item--active::before {
    background-image: url(..//../img/sun-img.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    content: " ";
    display: block;

}
.header-left__item:nth-child(2)::before {
    background-image: url(../img/sun-img.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    margin-bottom: 4px;
    content: " ";
    display: block;
}
.header-left__item:nth-child(3)::before {
    background-image: url(../img/raining.svg);
    background-size: 18px 18px;
    background-position: left 0px top 0px;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    width: 20px;
    height: 20px;
    content: " ";
    display: block;

}
.header-left__item:nth-child(4)::before {
    background-image: url(../img/sun-img.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    margin-bottom: 4px;
    content: " ";
    display: block;
}
.header-right {
    display: flex;
    align-items: center;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
}
.header-right__text {
    margin-right: 8px;
}
.header-right__clock {
    font-size: 43px;
}

