
.img-wrap {
    position: relative;
}

.img-wrap:hover::before {
    z-index: 2;
    opacity: 1;
    transform: translate(-50%, -50%)  scale(1.2);
}
.img-box__image:hover {
 position: relative;
 z-index: 1;
}
.img-wrap:hover .img-box__image, .img-wrap:hover img
{   
    position: relative;
 z-index: 1;
    transform: scale(1.1);
}
